article {
  display: flex;
  flex-direction: row;
}

section {
  width: 50%;
  padding: 0px 0px 0px 40px;
}

section h2 {
  color: #f6f6f6;
  font-family: Marvin;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 54px;
}

p {
  color: #f6f6f6;
  font-family: Indivisible;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1c1c1c;
  margin-bottom: 100px;
  margin-top: 100px;
}

.image-book {
  background-color: blue;
  height: 200px;
  width: 200px;
}

.button {
  background-color: #d01f3d;
  margin: 90px 0px 0px;
  background-color: #d01f3d;
  color: #f6f6f6;
  text-align: center;
  font-family: Marvin;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.image-book {
  margin-top: 270px;
}

article img {
  padding-right: 40px;
  height: 600px;
}

.dargaud-social {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.dargaud-social p {
  color: #f6f6f6;
  font-family: Indivisible;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3 {
  color: #f6f6f6;
  font-family: Marvin;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

span {
  color: #f6f6f6;
  font-family: Indivisible;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.container-contact {
  display: flex;
  flex-direction: row;
  background-color: #d01f3d;
}

.about ul {
  margin-top: 5px;
  color: #f6f6f6;
  font-family: Indivisible;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

#logo-dargaud {
  height: 31px;
  transform: translate(-8px);
}

.container-contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 70px 30px;
  gap: 100px;
}

.logo-social {
  margin-bottom: 30px;
  margin-top: 30px;
}

#instagram {
  margin-right: 20px;
}

#facebook {
  margin-right: 20px;
}
